img {
    width: 360px;
    border: solid;
}

.column {
    width: 480px;
    float: left;
}

#before {
    background-color: lightblue;
}

#during {
    background-color: lightpink;
}

#after {
    background-color: lightgreen;
}
